{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div class="container">
    <h1>Sample To Do Application</h1>
    <p>You can submit tasks from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title">
      </div>
      <div>
        <label for="dueInput">Due at:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>

    <div class="nav-links">
      <a href="{% url 'index' %}?status=all&amp;order={{ current_order }}">すべて</a>
      <span class="separator">|</span>
      <a href="{% url 'index' %}?status=incomplete&amp;order={{ current_order }}">未完了</a>
      <span class="separator">|</span>
      <a href="{% url 'index' %}?status=completed&amp;order={{ current_order }}">完了</a>
    </div>

    <div class="nav-links">
      <a href="{% url 'index' %}?order=due&amp;status={{ current_status }}">Sort by Due Date</a>
      <span class="separator">|</span>
      <a href="{% url 'index' %}?order=post&amp;status={{ current_status }}">Sort by Posted Date</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>Posted at: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>Due at: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>Status: <span class="status status-completed">Completed</span></li>
        {% else %}
        <li>Status: <span class="status status-not-completed">Not Completed</span></li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
    </div>
  </body>

</html>